.app-wrapper{
  background-color: rgb(163, 163, 192);
  min-width: 450px;
  min-height: 650px;
  padding:30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}

.button-create{
background-color:rgb(26, 197, 188);
margin-right: 10px;
width: 100px;
border-radius: 10px;
padding: 5px;
}

.button-edit{
color: lightpink;
}

.container{
  background-color: linear-gradient(to right bottom, white, rgb(245, 244, 244));
  width: 100%;
  min-height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-item{
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 15px;
  color: #0f0e0e;
  border-radius: 10px;
}